**Data For 2018**

In [1]:
from pyforest import *

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
df1

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]
...,...,...,...,...,...,...
69,MARCH,29,Ready Player One,Warner Bros. Pictures / Village Roadshow Pictu...,"Steven Spielberg (director); Ernest Cline, Zak...",[71]
70,MARCH,30,Tyler Perry's Acrimony,Lionsgate / Tyler Perry Films,Tyler Perry (director/screenplay); Taraji P. H...,[72]
71,MARCH,30,God's Not Dead: A Light in Darkness,Pure Flix,Michael Mason (director/screenplay); David A. ...,[73]
72,MARCH,30,Gemini,Neon,"Aaron Katz (director/screenplay); Lola Kirke, ...",[74]
73,MARCH,30,The Last Movie Star,A24,Adam Rifkin (director/screenplay); Burt Reynol...,[75]

In [5]:
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\3617246550.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [8]:
df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.','Ref.'],axis=1,inplace=True)

In [9]:
df

,Opening,Opening.1,Title,Production company,Cast and crew
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren..."
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St..."
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...
...,...,...,...,...,...
269,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...
270,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...
271,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...
272,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre..."
273,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...

In [10]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading tmdbv3api-1.7.7-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in c:\users\moon  comp\anaconda3\lib\site-packages (from tmdbv3api) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moon  comp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moon  comp\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\moon  comp\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\moon  comp\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.9)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.7
Note: you may need to restart the kernel to use updated packages.

In [11]:
#get your API Key here: https://www.themoviedb.org/settings/api
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '064092644f740eb010524259070a2095' #add your own API key here

In [12]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x) #the title will be searched in the tmdb_movie
    movie_id = result[0].id #we will match the "id" with the "title"
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
    data_json = response.json() #we will then convert it to a json file
    if data_json['genres']: #in the json file we will only need to extract the "genre"
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
        return genre_str.join(genres)
    else:
        np.NaN # we will return the results but if we don't find anything we will consider it as a missing value
# https://en.wikipedia.org/wiki/List_of_American_films_of_2018

In [13]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

,Opening,Opening.1,Title,Production company,Cast and crew,genres
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",Western Crime Thriller Drama
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
...,...,...,...,...,...,...
269,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime
270,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure
271,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
272,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action
273,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie

In [14]:
df_2018 = df[['Title','Cast and crew','genres']]
df_2018

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Western Crime Thriller Drama
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery
...,...,...,...
269,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime
270,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure
271,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History
272,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action
273,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie

**Extract Director**

In [63]:
def get_director(x):
    if str(" (director)") in x: #we are getting "director"
        return x.split(" (director)")[0]
    elif " (directors)" in x: #we are getting "directors" with "s"
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0] #we are getting "directors/screenplay"

In [16]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\930721595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

In [17]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [18]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [19]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [20]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\951334193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [23]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [21]:
df_2018

,Title,Cast and crew,genres,director_name,actor_3_name,actor_2_name,actor_1_name
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller,Adam Robitel,Leigh Whannell,Angus Sampson,Lin Shaye
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama,Lauren Wolkstein,Emily Althaus,James Freedson-Jackson,Alex Pettyfer
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller,Simon West,Gemma Chan,Austin Stowell,Dominic Cooper
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Western Crime Thriller Drama,Warwick Thornton,NaN,Sam Neill,Bryan Brown
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller Mystery,Jaume Collet-Serra,Patrick Wilson,Vera Farmiga,Liam Neeson
...,...,...,...,...,...,...,...
269,Holmes & Watson,Etan Cohen (director/screenplay); Will Ferrell...,Mystery Adventure Comedy Crime,Etan Cohen,Rebecca Hall,John C. Reilly,Will Ferrell
270,Vice,Adam McKay (director/screenplay); Christian Ba...,Thriller Science Fiction Action Adventure,Adam McKay,Steve Carell,Amy Adams,Christian Bale
271,On the Basis of Sex,Mimi Leder (director); Daniel Stiepleman (scre...,Drama History,Mimi Leder,Justin Theroux,Armie Hammer,Felicity Jones
272,Destroyer,"Karyn Kusama (director); Phil Hay, Matt Manfre...",Thriller Crime Drama Action,Karyn Kusama,Toby Kebbell,Sebastian Stan,Nicole Kidman
273,Black Mirror: Bandersnatch,David Slade (director); Charlie Brooker (scree...,Science Fiction Mystery Drama Thriller TV Movie,David Slade,Asim Chaudhry,Will Poulter,Fionn Whitehead

In [24]:
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [25]:
new_df18.isna().sum()

director_name     0
actor_1_name      0
actor_2_name     10
actor_3_name     27
genres            2
movie_title       0
dtype: int64

In [27]:
new_df18[['actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\2726977275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df18[['actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

In [28]:
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [29]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']
new_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Western Crime Thriller Drama,sweet country,NaN
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
269,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,holmes & watson,Will Ferrell John C. Reilly Rebecca Hall Etan ...
270,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Thriller Science Fiction Action Adventure,vice,Christian Bale Amy Adams Steve Carell Adam McK...
271,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,on the basis of sex,Felicity Jones Armie Hammer Justin Theroux Mim...
272,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller Crime Drama Action,destroyer,Nicole Kidman Sebastian Stan Toby Kebbell Kary...
273,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction Mystery Drama Thriller TV Movie,black mirror: bandersnatch,Fionn Whitehead Will Poulter Asim Chaudhry Dav...

In [117]:
new_df18['title_year']='2018.0'
new_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb,title_year
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...,2018.0
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...,2018.0
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...,2018.0
3,Warwick Thornton,Bryan Brown,Sam Neill,NaN,Western Crime Thriller Drama,sweet country,NaN,2018.0
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller Mystery,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...,2018.0
...,...,...,...,...,...,...,...,...
269,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,holmes & watson,Will Ferrell John C. Reilly Rebecca Hall Etan ...,2018.0
270,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Thriller Science Fiction Action Adventure,vice,Christian Bale Amy Adams Steve Carell Adam McK...,2018.0
271,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,on the basis of sex,Felicity Jones Armie Hammer Justin Theroux Mim...,2018.0
272,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller Crime Drama Action,destroyer,Nicole Kidman Sebastian Stan Toby Kebbell Kary...,2018.0
273,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction Mystery Drama Thriller TV Movie,black mirror: bandersnatch,Fionn Whitehead Will Poulter Asim Chaudhry Dav...,2018.0

**Data 2019**

In [30]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1258632734.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",[2]
1,JANUARY,4,Rust Creek,IFC Films / Lunacy Productions,Jen McGowan (director); Julie Lipson (screenpl...,[3]
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,[4]
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,[5]
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,[6]
...,...,...,...,...,...,...
240,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",[132]
241,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,[224]
242,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,[225]
243,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",[226]
244,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,[227]

In [32]:
df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.','Ref.'],axis=1,inplace=True)

In [33]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

,Opening,Opening.1,Title,Production company,Cast and crew,genres
0,JANUARY,4,Escape Room,Columbia Pictures / Original Film,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery
1,JANUARY,4,Rust Creek,IFC Films / Lunacy Productions,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama Action Crime
2,JANUARY,4,American Hangman,Hangman Justice Productions,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,JANUARY,11,A Dog's Way Home,Columbia Pictures,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,JANUARY,11,The Upside,STX Entertainment,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama
...,...,...,...,...,...,...
240,DECEMBER,25,Spies in Disguise,20th Century Fox / Blue Sky Studios / Chernin ...,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family
241,DECEMBER,25,Little Women,Columbia Pictures / Regency Enterprises,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance History
242,DECEMBER,25,1917,Universal Pictures / DreamWorks Pictures,Sam Mendes (director/screenplay); Krysty Wilso...,War Drama History
243,DECEMBER,25,Just Mercy,Warner Bros. Pictures / Participant Media,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History
244,DECEMBER,27,Clemency,Neon,Chinonye Chukwu (director/screenplay); Alfre W...,Drama

In [34]:
df_2019 = df[['Title','Cast and crew','genres']]
df_2019

,Title,Cast and crew,genres
0,Escape Room,"Adam Robitel (director); Bragi F. Schut, Maria...",Horror Thriller Mystery
1,Rust Creek,Jen McGowan (director); Julie Lipson (screenpl...,Thriller Drama Action Crime
2,American Hangman,Wilson Coneybeare (director/screenplay); Donal...,Thriller
3,A Dog's Way Home,Charles Martin Smith (director); W. Bruce Came...,Drama Adventure Family
4,The Upside,Neil Burger (director); Jon Hartmere (screenpl...,Comedy Drama
...,...,...,...
240,Spies in Disguise,"Nick Bruno, Troy Quane (directors); Brad Copel...",Animation Action Adventure Comedy Family
241,Little Women,Greta Gerwig (director/screenplay); Saoirse Ro...,Drama Romance History
242,1917,Sam Mendes (director/screenplay); Krysty Wilso...,War Drama History
243,Just Mercy,"Destin Daniel Cretton (director/screenplay), A...",Drama Crime History
244,Clemency,Chinonye Chukwu (director/screenplay); Alfre W...,Drama

In [35]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\2296556331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(x))

In [36]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\2433795800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [38]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [39]:
new_df19[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)
new_df19['movie_title'] = new_df19['movie_title'].str.lower()
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']
new_df19

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1129552330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df19[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Taylor Russell,Logan Miller,Deborah Ann Woll,Horror Thriller Mystery,escape room,Taylor Russell Logan Miller Deborah Ann Woll A...
1,Jen McGowan,Hermione Corfield,Jay Paulson,Sean O'Bryan,Thriller Drama Action Crime,rust creek,Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2,Wilson Coneybeare,Donald Sutherland,Vincent Kartheiser,Oliver Dennis,Thriller,american hangman,Donald Sutherland Vincent Kartheiser Oliver De...
3,Charles Martin Smith,Bryce Dallas Howard,Edward James Olmos,Alexandra Shipp,Drama Adventure Family,a dog's way home,Bryce Dallas Howard Edward James Olmos Alexand...
4,Neil Burger,Bryan Cranston,Kevin Hart,Nicole Kidman,Comedy Drama,the upside,Bryan Cranston Kevin Hart Nicole Kidman Neil B...
...,...,...,...,...,...,...,...
240,"Nick Bruno, Troy Quane",Will Smith,Tom Holland,Rashida Jones,Animation Action Adventure Comedy Family,spies in disguise,Will Smith Tom Holland Rashida Jones Nick Brun...
241,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance History,little women,Saoirse Ronan Emma Watson Florence Pugh Greta ...
242,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama History,1917,George MacKay Dean-Charles Chapman Mark Strong...
243,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama Crime History,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Desti...
244,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chino...

In [118]:
new_df19['title_year']='2019.0'

**Data2020**

In [40]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\834898431.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,[2],NaN
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",[3],NaN
2,JANUARY,10,Like a Boss,Paramount Pictures / Artists First,"Miguel Arteta (director); Sam Pitman, Adam Col...",[4],NaN
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,NaN,NaN
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,[5],NaN
...,...,...,...,...,...,...,...
271,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,NaN,[242]
272,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,NaN,[243]
273,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,NaN,[244]
274,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,NaN,[245]
275,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,NaN,[246]

In [41]:
df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.','Ref.'],axis=1,inplace=True)

In [50]:
def get_genre(x): #pass in the title of the movies
    genres = []
    result = tmdb_movie.search(x)
    
    #the title will be searched in the tmdb_movie
    if len(result)>0:
        movie_id = result[0].id #we will match the "id" with the "title"
        response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key)) #we will get the result from the IMDb data
        data_json = response.json() #we will then convert it to a json file
        if data_json['genres']: #in the json file we will only need to extract the "genre"
            genre_str = " " 
            for i in range(0,len(data_json['genres'])):
                genres.append(data_json['genres'][i]['name']) #we will then add the "genre" to the empty genre list we created above
            return genre_str.join(genres)
        else:
            np.NaN 
    return np.NaN

In [51]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

,Opening,Opening.1,Title,Production company,Cast and crew,genres
0,JANUARY,3,The Grudge,Screen Gems / Stage 6 Films / Ghost House Pict...,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller
1,JANUARY,10,Underwater,20th Century Fox / TSG Entertainment / Chernin...,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction
2,JANUARY,10,Like a Boss,Paramount Pictures / Artists First,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy
3,JANUARY,10,Three Christs,IFC Films,Jon Avnet (director/screenplay); Eric Nazarian...,Drama
4,JANUARY,10,Inherit the Viper,Barry Films / Tycor International Film Company,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama
...,...,...,...,...,...,...
271,DECEMBER,25,We Can Be Heroes,Netflix / Troublemaker Studios / Double R Prod...,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy
272,DECEMBER,25,News of the World,Universal Pictures / Perfect World Pictures,Paul Greengrass (director/screenplay); Luke Da...,Drama Western Adventure Action
273,DECEMBER,25,One Night in Miami...,Amazon Studios,Regina King (director); Kemp Powers (screenpla...,Drama
274,DECEMBER,25,Promising Young Woman,Focus Features / FilmNation Entertainment,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama
275,DECEMBER,30,Pieces of a Woman,Netflix / Bron Studios,Kornél Mundruczó (director); Kata Wéber (scree...,Drama

In [52]:
df_2020 = df[['Title','Cast and crew','genres']]
df_2020

,Title,Cast and crew,genres
0,The Grudge,Nicolas Pesce (director/screenplay); Andrea Ri...,Horror Mystery Thriller
1,Underwater,"William Eubank (director); Brian Duffield, Ada...",Action Horror Science Fiction
2,Like a Boss,"Miguel Arteta (director); Sam Pitman, Adam Col...",Comedy
3,Three Christs,Jon Avnet (director/screenplay); Eric Nazarian...,Drama
4,Inherit the Viper,Anthony Jerjen (director); Andrew Crabtree (sc...,Crime Thriller Drama
...,...,...,...
271,We Can Be Heroes,Robert Rodriguez (director/screenplay); Priyan...,Action Fantasy Family Comedy
272,News of the World,Paul Greengrass (director/screenplay); Luke Da...,Drama Western Adventure Action
273,One Night in Miami...,Regina King (director); Kemp Powers (screenpla...,Drama
274,Promising Young Woman,Emerald Fennell (director/screenplay); Carey M...,Thriller Crime Drama
275,Pieces of a Woman,Kornél Mundruczó (director); Kata Wéber (scree...,Drama

In [53]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1089628015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(x))

In [54]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(x))
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(x))
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\340494051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(x))

In [56]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [57]:
new_df20[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)
new_df20['movie_title'] = new_df20['movie_title'].str.lower()
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']
new_df20

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\968966523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df20[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Nicolas Pesce,Andrea Riseborough,Demián Bichir,John Cho,Horror Mystery Thriller,the grudge,Andrea Riseborough Demián Bichir John Cho Nico...
1,William Eubank,Kristen Stewart,Vincent Cassel,Jessica Henwick,Action Horror Science Fiction,underwater,Kristen Stewart Vincent Cassel Jessica Henwick...
2,Miguel Arteta,Tiffany Haddish,Rose Byrne,Salma Hayek,Comedy,like a boss,Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3,Jon Avnet,Richard Gere,Peter Dinklage,Walton Goggins,Drama,three christs,Richard Gere Peter Dinklage Walton Goggins Jon...
4,Anthony Jerjen,Josh Hartnett,Margarita Levieva,Chandler Riggs,Crime Thriller Drama,inherit the viper,Josh Hartnett Margarita Levieva Chandler Riggs...
...,...,...,...,...,...,...,...
271,Robert Rodriguez,Priyanka Chopra Jonas,Pedro Pascal,YaYa Gosselin,Action Fantasy Family Comedy,we can be heroes,Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
272,Paul Greengrass,Tom Hanks,Helena Zengel,NaN,Drama Western Adventure Action,news of the world,NaN
273,Regina King,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,one night in miami...,Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
274,Emerald Fennell,Carey Mulligan,Bo Burnham,Alison Brie,Thriller Crime Drama,promising young woman,Carey Mulligan Bo Burnham Alison Brie Emerald ...
275,Kornél Mundruczó,Vanessa Kirby,Shia LaBeouf,Molly Parker,Drama,pieces of a woman,Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

In [119]:
new_df20['title_year']='2020.0'

**Data 2021**

In [58]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2021"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\2383547555.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,[2],NaN
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,NaN,NaN
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,[3],NaN
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,[4],NaN
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",[5],NaN
...,...,...,...,...,...,...,...
356,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,NaN,[273]
357,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,NaN,[274]
358,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",NaN,[275]
359,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,NaN,[276]
360,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.','Ref.'],axis=1,inplace=True)

In [60]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

,Opening,Opening.1,Title,Production company,Cast and crew,genres
0,JANUARY,1.0,Shadow in the Cloud,Vertical Entertainment,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,JANUARY,13.0,The White Tiger,Netflix,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
2,JANUARY,14.0,Locked Down,HBO Max / Warner Bros. Pictures,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,JANUARY,15.0,The Dig,Netflix / Clerkenwell Films,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,JANUARY,15.0,Outside the Wire,Netflix,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...,...,...,...
356,DECEMBER,25.0,The Tragedy of Macbeth,Apple TV+ / A24 / IAC Films,Joel Coen (director/screenplay); Denzel Washin...,Drama War
357,DECEMBER,25.0,A Journal for Jordan,Columbia Pictures / Escape Artists / Bron Studios,Denzel Washington (director); Virgil Williams ...,Drama Romance
358,DECEMBER,25.0,American Underdog,Lionsgate,"Erwin brothers (directors); Jon Erwin, David A...",Drama
359,DECEMBER,26.0,Memoria,Neon,Apichatpong Weerasethakul (director/acreenplay...,Drama Mystery Fantasy
360,DECEMBER,NaN,NaN,NaN,NaN,Drama

In [61]:
df_2021 = df[['Title','Cast and crew','genres']]
df_2021

,Title,Cast and crew,genres
0,Shadow in the Cloud,Roseanne Liang (director/screenplay); Max Land...,Horror Action War
1,The White Tiger,Ramin Bahrani (director/screenplay); Adarsh Go...,Drama
2,Locked Down,Doug Liman (director); Steven Knight (screenpl...,Comedy Crime Drama
3,The Dig,Simon Stone (director); Moira Buffini (screenp...,Drama History
4,Outside the Wire,"Mikael Håfström (director); Rob Yescombe, Rowa...",Thriller Action Science Fiction
...,...,...,...
356,The Tragedy of Macbeth,Joel Coen (director/screenplay); Denzel Washin...,Drama War
357,A Journal for Jordan,Denzel Washington (director); Virgil Williams ...,Drama Romance
358,American Underdog,"Erwin brothers (directors); Jon Erwin, David A...",Drama
359,Memoria,Apichatpong Weerasethakul (director/acreenplay...,Drama Mystery Fantasy
360,NaN,NaN,Drama

In [65]:
df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\3118254134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['director_name'] = df_2021['Cast and crew'].map(lambda x: get_director(str(x)))

In [68]:
df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))
df_2021['actor_2_name'] = df_2021['Cast and crew'].map(lambda x: get_actor2(str(x)))
df_2021['actor_1_name'] = df_2021['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1194188738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021['actor_3_name'] = df_2021['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [69]:
df_2021 = df_2021.rename(columns={'Title':'movie_title'})
new_df21 = df_2021.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [70]:
new_df21[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)
new_df21['movie_title'] = new_df21['movie_title'].str.lower()
new_df21['comb'] = new_df21['actor_1_name'] + ' ' + new_df21['actor_2_name'] + ' '+ new_df21['actor_3_name'] + ' '+ new_df21['director_name'] +' ' + new_df21['genres']
new_df21

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\4060378269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df21[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Roseanne Liang,Chloë Grace Moretz,Taylor John Smith,Beulah Koale,Horror Action War,shadow in the cloud,Chloë Grace Moretz Taylor John Smith Beulah Ko...
1,Ramin Bahrani,Adarsh Gourav,Rajkummar Rao,Priyanka Chopra Jonas,Drama,the white tiger,Adarsh Gourav Rajkummar Rao Priyanka Chopra Jo...
2,Doug Liman,Anne Hathaway,Chiwetel Ejiofor,Stephen Merchant,Comedy Crime Drama,locked down,Anne Hathaway Chiwetel Ejiofor Stephen Merchan...
3,Simon Stone,Carey Mulligan,Ralph Fiennes,Lily James,Drama History,the dig,Carey Mulligan Ralph Fiennes Lily James Simon ...
4,Mikael Håfström,Anthony Mackie,Damson Idris,Emily Beecham,Thriller Action Science Fiction,outside the wire,Anthony Mackie Damson Idris Emily Beecham Mika...
...,...,...,...,...,...,...,...
356,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
357,Denzel Washington,Michael B. Jordan,Chanté Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan Chanté Adams Jalon Christian...
358,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
359,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin Díaz,Jeanne Balibar,Drama Mystery Fantasy,memoria,Apichatpong Weerasethakul (director/acreenplay...
360,nan,nan,NaN,NaN,Drama,NaN,NaN

In [120]:
new_df21['title_year']='2021.0'

**Data 2022**

In [71]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\3894406178.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,1.0,Top Gun: Maverick,Paramount,"$718,732,821",NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Avatar: The Way of Water*,Disney / 20th Century,"$665,383,862",NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Black Panther: Wakanda Forever*,Disney,"$453,785,634",NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Doctor Strange in the Multiverse of Madness,Disney,"$411,331,607",NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Jurassic World Dominion,Universal,"$376,851,080",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
236,NaN,Luckiest Girl Alive,NaN,NaN,SEPTEMBER,30.0,Netflix / Made Up Stories,Mike Barker (director); Jessica Knoll (screenp...,NaN,[182]
237,NaN,God's Creatures,NaN,NaN,SEPTEMBER,30.0,A24 / BBC Film / Screen Ireland,"Saela Davis, Anna Rose Holmer (directors); Sha...",NaN,[200]
238,NaN,Dead for a Dollar,NaN,NaN,SEPTEMBER,30.0,Quiver Distribution / Myriad Pictures,Walter Hill (director/screenplay); Christoph W...,NaN,[201]
239,NaN,My Best Friend's Exorcism,NaN,NaN,SEPTEMBER,30.0,Amazon Studios / Endeavor Content,Damon Thomas (director); Jenna Lamia (screenpl...,NaN,[178]
240,NaN,Hot Take: The Depp/Heard Trial,NaN,NaN,SEPTEMBER,30.0,Tubi / MarVista Entertainment,Sara Lohman (director); Guy Nicolucci (screenp...,NaN,[202]

In [72]:
df.drop(['.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.','Ref.'],axis=1,inplace=True)

In [73]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,genres
0,1.0,Top Gun: Maverick,Paramount,"$718,732,821",NaN,NaN,NaN,NaN,Action Drama
1,2.0,Avatar: The Way of Water*,Disney / 20th Century,"$665,383,862",NaN,NaN,NaN,NaN,Science Fiction Adventure Action
2,3.0,Black Panther: Wakanda Forever*,Disney,"$453,785,634",NaN,NaN,NaN,NaN,Action Adventure Science Fiction
3,4.0,Doctor Strange in the Multiverse of Madness,Disney,"$411,331,607",NaN,NaN,NaN,NaN,Fantasy Action Adventure
4,5.0,Jurassic World Dominion,Universal,"$376,851,080",NaN,NaN,NaN,NaN,Adventure Action Science Fiction
...,...,...,...,...,...,...,...,...,...
236,NaN,Luckiest Girl Alive,NaN,NaN,SEPTEMBER,30.0,Netflix / Made Up Stories,Mike Barker (director); Jessica Knoll (screenp...,Drama Thriller Mystery
237,NaN,God's Creatures,NaN,NaN,SEPTEMBER,30.0,A24 / BBC Film / Screen Ireland,"Saela Davis, Anna Rose Holmer (directors); Sha...",Drama
238,NaN,Dead for a Dollar,NaN,NaN,SEPTEMBER,30.0,Quiver Distribution / Myriad Pictures,Walter Hill (director/screenplay); Christoph W...,Western Thriller
239,NaN,My Best Friend's Exorcism,NaN,NaN,SEPTEMBER,30.0,Amazon Studios / Endeavor Content,Damon Thomas (director); Jenna Lamia (screenpl...,Horror Comedy
240,NaN,Hot Take: The Depp/Heard Trial,NaN,NaN,SEPTEMBER,30.0,Tubi / MarVista Entertainment,Sara Lohman (director); Guy Nicolucci (screenp...,Crime Thriller Drama

In [74]:
df_2022 = df[['Title','Cast and crew','genres']]
df_2022

,Title,Cast and crew,genres
0,Top Gun: Maverick,NaN,Action Drama
1,Avatar: The Way of Water*,NaN,Science Fiction Adventure Action
2,Black Panther: Wakanda Forever*,NaN,Action Adventure Science Fiction
3,Doctor Strange in the Multiverse of Madness,NaN,Fantasy Action Adventure
4,Jurassic World Dominion,NaN,Adventure Action Science Fiction
...,...,...,...
236,Luckiest Girl Alive,Mike Barker (director); Jessica Knoll (screenp...,Drama Thriller Mystery
237,God's Creatures,"Saela Davis, Anna Rose Holmer (directors); Sha...",Drama
238,Dead for a Dollar,Walter Hill (director/screenplay); Christoph W...,Western Thriller
239,My Best Friend's Exorcism,Damon Thomas (director); Jenna Lamia (screenpl...,Horror Comedy
240,Hot Take: The Depp/Heard Trial,Sara Lohman (director); Guy Nicolucci (screenp...,Crime Thriller Drama

In [75]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\3796821595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(str(x)))

In [76]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\641354876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\641354876.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(str(x)))
C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\641354876.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [77]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [78]:
new_df22[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)
new_df22['movie_title'] = new_df22['movie_title'].str.lower()
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']
new_df22

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\2216766891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df22[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,nan,nan,NaN,NaN,Action Drama,top gun: maverick,NaN
1,nan,nan,NaN,NaN,Science Fiction Adventure Action,avatar: the way of water*,NaN
2,nan,nan,NaN,NaN,Action Adventure Science Fiction,black panther: wakanda forever*,NaN
3,nan,nan,NaN,NaN,Fantasy Action Adventure,doctor strange in the multiverse of madness,NaN
4,nan,nan,NaN,NaN,Adventure Action Science Fiction,jurassic world dominion,NaN
...,...,...,...,...,...,...,...
236,Mike Barker,Mila Kunis,Finn Wittrock,Scoot McNairy,Drama Thriller Mystery,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
237,"Saela Davis, Anna Rose Holmer",Emily Watson,Paul Mescal,Aisling Franciosi,Drama,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
238,Walter Hill,Christoph Waltz,Willem Dafoe,Rachel Brosnahan,Western Thriller,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
239,Damon Thomas,Elsie Fisher,Amiah Miller,Cathy Ang,Horror Comedy,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
240,Sara Lohman,Mark Hapka,Megan Davis,Mellisa Marty,Crime Thriller Drama,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [121]:
new_df22['title_year']='2022.0'

**Data 2023**

In [79]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1218620843.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,Ant-Man and the Wasp: Quantumania*,Disney,"$167,314,584",NaN,NaN,NaN,NaN,NaN
1,2.0,M3GAN*,Universal,"$94,536,965",NaN,NaN,NaN,NaN,NaN
2,3.0,80 for Brady*,Paramount,"$36,447,000",NaN,NaN,NaN,NaN,NaN
3,4.0,Knock at the Cabin*,Universal,"$33,903,205",NaN,NaN,NaN,NaN,NaN
4,5.0,Plane*,Lionsgate,"$32,075,082",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
140,NaN,The Nun 2,NaN,NaN,SEPTEMBER,8.0,Warner Bros. Pictures / New Line Cinema / Atom...,Michael Chaves (director); Akela Cooper (scree...,[52]
141,NaN,My Big Fat Greek Wedding 3,NaN,NaN,SEPTEMBER,8.0,Focus Features,Nia Vardalos (director/screenplay); Nia Vardal...,[116]
142,NaN,A Haunting in Venice,NaN,NaN,SEPTEMBER,15.0,20th Century Studios / Scott Free Productions ...,Kenneth Branagh (director); Michael Green (scr...,[117]
143,NaN,The Expendables 4,NaN,NaN,SEPTEMBER,22.0,Lionsgate / Millennium Media,"Scott Waugh (director); Spenser Cohen, Max Ada...",[86]
144,NaN,Next Goal Wins,NaN,NaN,SEPTEMBER,22.0,Searchlight Pictures / The Imaginarium,Taika Waititi (director/screenplay); Iain Morr...,[118]

In [81]:
df.drop(['Ref.'],axis=1,inplace=True)

In [83]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [84]:
df_2023 = df[['Title','Cast and crew','genres']]
df_2023

,Title,Cast and crew,genres
0,Ant-Man and the Wasp: Quantumania*,NaN,Adventure Science Fiction Comedy
1,M3GAN*,NaN,Science Fiction Horror Comedy
2,80 for Brady*,NaN,Comedy
3,Knock at the Cabin*,NaN,Horror Mystery Thriller
4,Plane*,NaN,Action Adventure Thriller
...,...,...,...
140,The Nun 2,Michael Chaves (director); Akela Cooper (scree...,Horror
141,My Big Fat Greek Wedding 3,Nia Vardalos (director/screenplay); Nia Vardal...,Comedy Romance
142,A Haunting in Venice,Kenneth Branagh (director); Michael Green (scr...,Drama Mystery Crime
143,The Expendables 4,"Scott Waugh (director); Spenser Cohen, Max Ada...",Action Adventure Thriller War
144,Next Goal Wins,Taika Waititi (director/screenplay); Iain Morr...,Comedy Drama

In [85]:
df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1551818249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(str(x)))

In [86]:
df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(str(x)))
df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(str(x)))
df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\346707154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(str(x)))

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\346707154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(str(x)))
C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\346707154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [87]:
df_2023 = df_2023.rename(columns={'Title':'movie_title'})
new_df23 = df_2023.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [88]:
new_df23[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)
new_df23['movie_title'] = new_df23['movie_title'].str.lower()
new_df23['comb'] = new_df23['actor_1_name'] + ' ' + new_df23['actor_2_name'] + ' '+ new_df23['actor_3_name'] + ' '+ new_df23['director_name'] +' ' + new_df23['genres']
new_df23

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1794474385.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df23[['actor_1_name','actor_2_name','actor_3_name']].fillna('unknown',inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,nan,nan,NaN,NaN,Adventure Science Fiction Comedy,ant-man and the wasp: quantumania*,NaN
1,nan,nan,NaN,NaN,Science Fiction Horror Comedy,m3gan*,NaN
2,nan,nan,NaN,NaN,Comedy,80 for brady*,NaN
3,nan,nan,NaN,NaN,Horror Mystery Thriller,knock at the cabin*,NaN
4,nan,nan,NaN,NaN,Action Adventure Thriller,plane*,NaN
...,...,...,...,...,...,...,...
140,Michael Chaves,Storm Reid,Taissa Farmiga,Anna Popplewell,Horror,the nun 2,Storm Reid Taissa Farmiga Anna Popplewell Mich...
141,Nia Vardalos,Nia Vardalos,John Corbett,Louis Mandylor,Comedy Romance,my big fat greek wedding 3,Nia Vardalos John Corbett Louis Mandylor Nia V...
142,Kenneth Branagh,Kyle Allen,Kenneth Branagh,Camille Cottin,Drama Mystery Crime,a haunting in venice,Kyle Allen Kenneth Branagh Camille Cottin Kenn...
143,Scott Waugh,Jason Statham,50 Cent,Megan Fox,Action Adventure Thriller War,the expendables 4,Jason Statham 50 Cent Megan Fox Scott Waugh Ac...
144,Taika Waititi,Michael Fassbender,Oscar Kightley,David Fane,Comedy Drama,next goal wins,Michael Fassbender Oscar Kightley David Fane T...

In [122]:
new_df23['title_year']='2023.0'

In [123]:
 my_df=new_df18.append(new_df19.append(new_df20.append(new_df21.append(new_df22.append(new_df23,ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\797067906.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_df=new_df18.append(new_df19.append(new_df20.append(new_df21.append(new_df22.append(new_df23,ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True),ignore_index=True)

In [125]:
old_df = pd.read_csv('movie_data2.csv')
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,title_year,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,2009.0,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,2007.0,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,2015.0,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,2012.0,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...,...
5359,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,NaN,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Keith Stanfield ...
5360,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,NaN,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Jean Loui...
5361,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,NaN,thick lashes of lauri mäntyvaara,Romance Comedy,Inka Haapamäki Rosa Honkonen Tiitus Rantala Ha...
5362,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,NaN,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Gina Holden...
5363,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,NaN,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [126]:
final_df = old_df.append(my_df,ignore_index=True)
final_df

C:\Users\moon  comp\AppData\Local\Temp\ipykernel_392\1657167188.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = old_df.append(my_df,ignore_index=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,title_year,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,2009.0,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,2007.0,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,2015.0,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,2012.0,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...,...
6901,Michael Chaves,Storm Reid,Taissa Farmiga,Anna Popplewell,2023.0,the nun 2,Horror,Storm Reid Taissa Farmiga Anna Popplewell Mich...
6902,Nia Vardalos,Nia Vardalos,John Corbett,Louis Mandylor,2023.0,my big fat greek wedding 3,Comedy Romance,Nia Vardalos John Corbett Louis Mandylor Nia V...
6903,Kenneth Branagh,Kyle Allen,Kenneth Branagh,Camille Cottin,2023.0,a haunting in venice,Drama Mystery Crime,Kyle Allen Kenneth Branagh Camille Cottin Kenn...
6904,Scott Waugh,Jason Statham,50 Cent,Megan Fox,2023.0,the expendables 4,Action Adventure Thriller War,Jason Statham 50 Cent Megan Fox Scott Waugh Ac...
6905,Taika Waititi,Michael Fassbender,Oscar Kightley,David Fane,2023.0,next goal wins,Comedy Drama,Michael Fassbender Oscar Kightley David Fane T...

In [127]:

final_df.isna().sum()

director_name      0
actor_1_name       0
actor_2_name      51
actor_3_name     148
title_year       458
movie_title        2
genres             8
comb             154
dtype: int64

In [128]:
final_df = final_df.dropna(how='any')

In [129]:
final_df.to_csv('final_data.csv',index=False)

In [130]:
final_df['title_year'].unique()

array(['2009.0', '2007.0', '2015.0', '2012.0', 'unknown', '2010.0',
       '2016.0', '2006.0', '2008.0', '2013.0', '2011.0', '2014.0',
       '1997.0', '2004.0', '2005.0', '1999.0', '1995.0', '2003.0',
       '2001.0', '2002.0', '1998.0', '2000.0', '1991.0', '1994.0',
       '1996.0', '1993.0', '1979.0', '1992.0', '1990.0', '1989.0',
       '1984.0', '1988.0', '1978.0', '1980.0', '1972.0', '1981.0',
       '1968.0', '1985.0', '1940.0', '1963.0', '1987.0', '1986.0',
       '1973.0', '1983.0', '1982.0', '1976.0', '1977.0', '1970.0',
       '1969.0', '1960.0', '1965.0', '1964.0', '1962.0', '1927.0',
       '1974.0', '1937.0', '1975.0', '1967.0', '1971.0', '1951.0',
       '1961.0', '1946.0', '1953.0', '1954.0', '1959.0', '1932.0',
       '1947.0', '1956.0', '1945.0', '1952.0', '1930.0', '1966.0',
       '1939.0', '1950.0', '1948.0', '1958.0', '1957.0', '1943.0',
       '1944.0', '1938.0', '1949.0', '1936.0', '1941.0', '1955.0',
       '1942.0', '1929.0', '1935.0', '1933.0', '1916.0', '1934.0',
       '1925.0', '1920.0', '2018.0', '2019.0', '2020.0', '2021.0',
       '2022.0', '2023.0'], dtype=object)